<img src="./assets/bg/03.png" alt="bg" class="forgot-bg-image" />

<main class="forgot-main">
  <div class="forgot-content">
    <img
      [src]="svg.keySent"
      alt="personal banking"
      class="forgot-content__img"
    />
    <h1 class="forgot-content__title">
      Your password <br />
      has been reset!
    </h1>
    <p class="forgot-content__desc">
      Qui ex aute ipsum duis. Incididunt <br />
      adipisicing voluptate laborum
    </p>
  </div>
</main>

<section class="forgot-section">
  <app-button [text]="'Done'" [routerLink]="'/'" />
</section>
