<app-header />

<img src="./assets/bg/01.png" alt="Add to cart" class="background-image" />

<main class="main-container">
  <section class="content-section">
    <img [alt]="'info saved'" [src]="svg.pocket" class="info-image" />
    <h2 class="info-title">Info Saved!</h2>
    <p class="info-description t16">
      Your personal information has been <br />
      securely stored.
    </p>
    <div class="button-container">
      <app-button [text]="'Done'" [routerLink]="'/profile'" />
    </div>
  </section>
</main>
