<app-header [showGoBack]="true" [title]="'Reset password'" />

<main class="main-container">
  <p class="reset-password-message">Enter new password and confirm.</p>
  <app-input-field
    [eyeOff]="true"
    [type]="'email'"
    [value]="'••••••••'"
    [containerStyle]="{'margin-bottom': '10px'}"
    class="input-field"
  />
  <app-input-field
    [eyeOff]="true"
    [type]="'email'"
    [value]="'••••••••'"
    [containerStyle]="{'margin-bottom': '14px'}"
    class="input-field"
  />
  <app-button
    [text]="'change password'"
    [routerLink]="'/forgot-password-sent-email'"
    class="change-password-button"
  />
</main>
