<app-header [showGoBack]="true" [title]="'Sign in'" />

<main class="main-container">
  <section class="section-container">
    <h1 class="welcome-title">
      Welcome to <br />
      Teofin!
    </h1>
    <app-input-field
      [check]="true"
      [type]="'email'"
      [value]="'darronbanks@mail.com'"
      class="input-field"
    ></app-input-field>
    <app-input-field
      [type]="'password'"
      [eyeOff]="true"
      [value]="'••••••••'"
      class="input-field"
    ></app-input-field>
    <div class="remember-me-container">
      <div class="remember-me" (click)="rememberMe = !rememberMe">
        <div class="checkbox">
          <img [src]="svg.check" alt="" *ngIf="rememberMe" />
        </div>
        <span class="remember-me-text">Remember me</span>
      </div>

      <a href="" [routerLink]="'/forgot-password'" class="forgot-password-link">
        <span>Forgot password?</span>
      </a>
    </div>
    <app-button
      [text]="'Sign in'"
      [routerLink]="'/dashboard'"
      class="sign-in-button"
    ></app-button>

    <div class="sign-up-container">
      <span class="sign-up-text">No account?</span>
      <a [routerLink]="'/sign-up'" class="sign-up-link">Register now</a>
    </div>

    <div class="social">
      <button (click)="$event.preventDefault(); $event.stopPropagation()">
        <img [src]="svg.facebook" alt="facebook icon" />
      </button>
      <button (click)="$event.preventDefault(); $event.stopPropagation()">
        <img [src]="svg.twitter" alt="facebook icon" />
      </button>
      <button (click)="$event.preventDefault(); $event.stopPropagation()">
        <img [src]="svg.google" alt="facebook icon" />
      </button>
    </div>
  </section>
</main>
