<app-header [showGoBack]="true" />

<main class="transaction-details-main">
  <section class="transaction-details-section">
    <img
      [src]="svg.repeat"
      alt="repeat-icon"
      class="transaction-details-repeat-icon"
    />
    <span class="transaction-details-date">Sep 10, 2022 at 11:34 AM</span>
    <span class="transaction-details-amount">- $ 263.57</span>
    <span class="transaction-details-desc">sent to Hillary Holmes</span>
    <img
      [src]="svg.success"
      alt="success"
      class="transaction-details-success-icon"
    />
  </section>
  <section>
    <ul>
      <li
        *ngFor="let item of transactionDetails"
        class="transaction-details-list-item"
      >
        <span class="transaction-details-list-label">{{ item.label }}</span>
        <span class="transaction-details-list-value">{{ item.value }}</span>
      </li>
    </ul>
  </section>
</main>

<section class="transaction-details-bottom-section">
  <app-button [text]="'Download PDF'" />
</section>
